<nav class="navbar navbar-expand-lg shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand fs-3" href="/">TANGERINE</a>
            
            <div class="d-flex align-items-center gap-3">
                <select class="form-select border-warning" style="width: auto;" onchange="if(this.value) window.location.href=this.value">
                    <option selected>----------</option>
                    <option value="/">Menyu</option>
                    <option value="/add-client">Mijoz qo‘shish</option>
                    <option value="/clients-view">Mijozlar</option>
                    <option value="/contracts-list">Hujjatlar</option>
                </select>
                
                <a href="{% url 'auth:logout' %}" style="text-decoration: none;" class="d-none d-md-inline fw-bold text-secondary border-start ps-3">
                    {{user.first_name.0}}.{{user.middle_name.0}} {{user.last_name}}
                </a>
            </div>
        </div>
    </nav>

<style>
    /* Navbar custom style */
        .navbar {
            background-color: white !important;
            border-bottom: 3px solid var(--tangerine);
        }
        .navbar-brand {
            color: var(--tangerine) !important;
            font-weight: 900;
            letter-spacing: 1px;
        }
</style>

<script>
    
</script>